.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}



.app-contacts-label {
  position: absolute;
  left: 824px;
  top: 191px;

  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;

  text-align: center;

  color: #FFFFFF;
}

.app-background-gradient {
  height: calc(100vh - 50px);
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: scroll;

  background-image: url(/images/background.jpg);
}

.app-welcome-label {
  font-family: Gloria Hallelujah;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 129px;
  /*display: flex;*/
  align-items: center;
  text-align: center;

  color: #000000;
}

.app-main-picture{
  width: auto;
  height: 50vh;
  align-items: center;
  text-align: center;
  background-size: contain;
  background-position: center;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-image: url(/images/main.jpg);
}


